/*
Color Scheme
#232323 background, code
#0B294A decoration
#397593 link
#A48F69 decoration, hover
#962020 decoration
#FFFFFF background



*/

/* GENERAL */
html, body {
  font-size   : 1em;
  line-height : 1.5em;
  font-family : 'PT Sans', sans-serif;
  font-weight : 400;
  background  : #ffffff;
  color       : #232323;
}

html {
  height : 100%;
}

body {
  padding : 2em 2em 1em 2em;
}

p, hr, h4, h5, h6 {
  margin-top    : 0.9em;
  margin-bottom : 0.9em;
}


strong {
  font-weight : 700;
}

a {
  font-weight     : 600;
  text-decoration : none;
  color           : #397593;
}

a:hover {
  color : #A48F69;
}

img, iframe {
  max-width    : 100%;
  display      : block;
  margin-left  : auto;
  margin-right : auto;
}


/* HEADER */
header {
  padding      : 1em 2em 2em 2em;
  top          : 0;
  left         : 0;
  text-align   : center;
  max-width    : 60em;
  margin-left  : auto;
  margin-right : auto;
}

header h1 {
  font-family: 'Unica One', cursive;
  font-size     : 3em;
  margin-top    : 0.6em;
  margin-bottom : 0.6em;
  border        : none;
}

header h1 a {
  color          : #962020;
  text-transform : uppercase;
}  

header h1 a:hover {
  color : #962020;
}


/* CONTENT */
#content {
  display : block;
  width   : 100%;
}

article {
  border-bottom : 0.1em #A48F69 solid;
  padding       : 1em 3em 1.5em 3em;
  margin-left   : auto;
  margin-right  : auto;
  text-align    : justify;
  max-width     : 60em;
  background    : #ffffff;
}


/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family : 'Oswald', sans-serif;
  font-weight : 500 !important;
  word-break  : normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  font-weight : 500;
}

h1 {
  color          : #962020;
  font-size      : 1.8em;
  line-height    : 1.1em;
  margin-top     : 1.0em;
  margin-bottom  : 0.6em;
}

h2 {
  font-size     : 1.4em;
  line-height   : 1.1em;
  margin-top    : 1.0em;
  margin-bottom : 0.6em;
}

h3 {
  font-size     : 1.2em;
  line-height   : 1.1em;
  margin-top    : 1.0em;
  margin-bottom : 0.6em;
}

h4 {
  font-size : 1.1em;
}

h5 {
  font-size : 1.0em;
}

h6 {
  font-size : 0.9em;
}


/* TABLE */
table {
  border-collapse: collapse;
}

th, td {
  border : thin solid #838383;
  padding: 0.4em;
}

thead {
  border-bottom: medium solid #397593;
}

tr{
  font-size: 0.9em;
}

/* CODE */
code {
  font-family   : 'CourierCodeRoman';
  font-size     : 0.8em;
  color         : #ebdbb2;
  background    : #0e0f11;
  line-height   : 1.3em;
  padding       : 0.2em 0.3em 0.2em 0.3em;
  border-radius : 3px;
}

pre {
  background    : #0e0f11;
  margin        : 1em;
  padding       : 0.4em;
  border-radius : 5px;
  overflow-x    : auto;
}

.hljs{
  background     : #0e0f11;
  border: none;
  overflow: unset;
}


/* MENU */
span.top-menu-item{
  padding-left  : 0.5em;
  padding-right : 0.5em;
}

span.top-menu-item a{
  color          : #232323;
  text-transform : uppercase;
}
span.top-menu-item a:hover{
  color          : #232323;
  border-bottom  : 0.3em #A48F69 solid;
  padding-bottom : 0.3em;
}


/* POSTS */
article span.post-stamp {
  color:#232323;     
}

section.post{
  margin-left  : auto;
  margin-right : auto;
  text-align   : left;
  max-width    : 60em;
}

h1.post-title {
  font-size  : 2em;
  margin-top : 0.35em;
  color      : #0B294A;
}

h3.post-title {
  margin-top     : 0.4em;
  padding-bottom : 0.9em;
  color          : #232323;
}

.post-title .feature-star {
  font-size : 0.9em;
}

.separator, .taglist, .feature-star {
  color : #A48F69;
}

span.tag-prefix{
  color       : #962020;
  font-size   : 0.5em;
  font-family : 'PT Sans', sans-serif;
  font-weight : 700 !important;
}

.taglist a {
  color          : #962020;
  font-size      : 0.5em;
  font-family    : 'PT Sans', sans-serif;
  font-weight    : 700 !important;
  text-transform : uppercase;
}

nav.pagination{
  margin-left  : auto;
  margin-right : auto;
  text-align   : center;
  max-width    : 30em;
}


/* FOOTER */
footer {
  margin-left  : auto;
  margin-right : auto;
  text-align   : center;
  max-width    : 60em;
  padding     : 1em 0em 2.5em 0em;
  font-size   : 0.8em;
  line-height : 1.5em;
  color       : #232323;
}


/* SCREENS */

/* Large */
@media only screen and (min-width: 1281px) {
  html, body {
    font-size : 1em;
  } 
}

/* Small */
@media only screen and (max-width: 800px) { 
  body {
    padding   : 0;
    font-size : 0.75em;
  }

  header {
    padding-bottom : 1em;
  }

  article {
    padding    : 1em 1em 1.5em 1em;
    word-wrap  : break-word;
    word-break : break-all;
    text-align : left;
  }

  pre{
    line-height : 1em;
  }

  footer {
    padding : 0 2.5em 2em 2.5em;
  }

  ul, ol {
    margin-left  : 1em;
    padding-left : 1em;
  }
}

/* Tiny */
@media only screen and (max-width: 320px) { 
  body {
    padding   : 0;
    font-size : 0.6em;
  }

  header {
    padding : 1.2em 1.2em 0.6em 1.2em;
  }

  article {
    padding    : 0.5em 0.5em 1em 0.5em;
    word-wrap  : break-word;
    word-break : break-all;
    text-align : left;
  }

  pre{
    line-height    : 1em;
    margin         : 0.8em;
  }

  footer {
    padding : 0 1.5em 1.2em 1.5em;
  }

  ul, ol {
    margin-left  : 1em;
    padding-left : 1em;
  }
}